<div class="form_box">
  <% if article.errors.present? %>
    <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div><%= link_to '一覧に戻る', articles_path, class: 'return-btn' %></div>
  <%= form_with model: article, local: true do |f| %>
    <p class="article_form"><%= f.label :title %><p>
    <p><%= f.text_field :title, class: "article_title_form" %></p>
    <p class="article_form"><%= f.label :content %></p>
    <p><%= f.text_area :content, class: "article_content_form" %></p>

    <div class="article_submit"><%= f.submit '保存する', class: "article_btn" %></div>
  <% end %>
</div>
