<div class="box">
  <div class="employee_index">
    <% if flash.notice.present? %>
      <p><%= flash.notice %></p>
    <% end %>

    <% if current_user.news_posting_auth %>
      <p class="new_employee"><%= link_to '新規追加', new_article_path, class: 'new-btn' %></p>
    <% end %>

    <table class="article_table">
      <thead>
        <tr>
          <th>タイトル</th>
          <th><%= sort_article "created_at", "公開日" %></th>
        </tr>
      </thead>
      <tbody>
      <% @articles.each do |article| %>
        <tr>
          <th class="article_title_name">
            <%= link_to article.title, article_path(article) %>
            <% if article.created_at + 1.week > Date.today %><!--公開日が一週間以内ならnew!マークをつける-->
              <span class="article_new">new!</span>
            <% end %>
          </th>
          <th class="article_date"><%= l article.created_at %></th>
          <% if current_user.news_posting_auth %>
            <% if article.employee == current_user %>
              <th class="article_btn_name"><%= link_to '編集', edit_article_path(article), class: 'edit-btn' %></th>
              <th class="article_btn_name"><%= link_to '削除', article, method: :delete, data: { confirm: "お知らせ「#{article.title}」を削除します。よろしいですか？" }, class: 'delete-btn' %></th>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

