<div class="article_space">
  <div class="return_edit_btn">
    <div><%= link_to '一覧に戻る', articles_path, class: 'return-btn' %></div>
    <% if current_user.news_posting_auth %>
      <% if @article.employee == current_user %>
        <div><%= link_to '編集', edit_article_path(@article), class: 'edit-btn' %></div>
      <% end %>
    <% end %>
  </div>

  <div class="article_title">
    <div class="posted_date">公開日 <%= l @article.created_at %></div>
    <span class="article_title_text"><%= @article.title %></span>
  </div>

  <div class="article_content">
    <p><%= @article.content %></p>
  </div>
</div>
